body {
    color: white;
    background-color: rgb(0, 15, 11);
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a:link {
    color: rgb(92, 203, 174)
}
a:visited {
    color: rgb(61, 133, 114)
}
a:hover {
    color: rgb(132, 226, 201)
}
a:active {
    color: rgb(212, 247, 237)
}

body > * {
    margin: 5px;
}

#graphs {
    display: flex;
    width: 95vw;
}

#graphs>* {
    margin-right: 5px;
    margin-bottom: 5px;
    height: auto !important;
}

@media (max-width: 710px) {
    #graphs {
        flex-direction: column;   
        width: 100%;
    }
    #graphs > * {
        width: 100% !important; 
        max-width: 100%;
        box-sizing: border-box;
    }
}